extends ./layout/index

block contenido
    main.container.mt-5 
        .row 
            .col-md-5
                img(src="img/nosotros.jpg", alt="Imagen sobre nosotros", class= "img-fluid")
            .col-md-7 
                h1= pagina 
                blockquote  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel eros mi. Aliquam luctus ligula lorem. In non mauris lectus. Integer enim velit, imperdiet sed cursus pretium, dictum sed nibh. Nulla sit amet metus in augue condimentum faucibus. Aliquam aliquet arcu mattis metus vehicula, quis vehicula lacus commodo. Duis id eros lectus. Donec at lacus in ipsum sagittis varius quis et elit.

                p Cras aliquam lectus eget laoreet eleifend. Sed pellentesque pretium rhoncus. Maecenas eget fringilla neque, sit amet semper turpis. Etiam mattis elementum lorem facilisis sodales. Nullam congue lorem at fringilla mollis. Pellentesque tincidunt aliquam metus dapibus maximus. Donec consectetur nisi quis mauris porttitor finibus. Aliquam viverra massa mi, vel finibus nulla fringilla non.

                p In vel diam ullamcorper, auctor nunc a, sodales orci. Pellentesque condimentum convallis placerat. In pretium leo nec leo fermentum ultricies. Aenean ut sapien diam. Curabitur nec dolor id nisl lacinia interdum. Etiam blandit tincidunt purus at imperdiet. Nam quis sapien dapibus, auctor nunc vitae, scelerisque nunc. Aenean malesuada metus tellus, ac fringilla purus condimentum in. 
    
    .listado-iconos 
        .container.mt-5.py-5.text-center
            .row    
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid" mb-4)
                    h2.mb-4 Seguridad
                    p p In vel diam ullamcorper, auctor nunc a, sodales orci. Pellentesque condimentum convallis placerat. In pretium leo nec leo fermentum ultricies. Aenean ut sapien diam. Curabitur nec dolor id nisl lacinia interdum. Etiam blandit tincidunt purus at imperdiet

                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid" mb-4)
                    h2.mb-4 Mejores Destinos
                    p p In vel diam ullamcorper, auctor nunc a, sodales orci. Pellentesque condimentum convallis placerat. In pretium leo nec leo fermentum ultricies. Aenean ut sapien diam. Curabitur nec dolor id nisl lacinia interdum. Etiam blandit tincidunt purus at imperdiet

                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid" mb-4)
                    h2.mb-4 Los mejores precios
                    p p In vel diam ullamcorper, auctor nunc a, sodales orci. Pellentesque condimentum convallis placerat. In pretium leo nec leo fermentum ultricies. Aenean ut sapien diam. Curabitur nec dolor id nisl lacinia interdum. Etiam blandit tincidunt purus at imperdiet





    